.loader-style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.error-display{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: red;
}
